.container {
  @include size(100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;;

  h1{
    font-size: 100px;
    text-align: center;
    letter-spacing: 10px;
    transform: skewX(-45deg);
    margin-top: 50px;
  }
  form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;

    input {
      margin-top: 50px;
      margin: 0 auto;
      font-size: 80px;
      @include size(80%, 200px);
      transform: skewX(45deg);
      box-shadow: inset 10px 10px 30px lime, 10px 10px 30px #f725c9;

    }
    button {
      margin-top: 40px;
      padding: 20px;
      transform: skewX(-45deg);
    }
  }
  .output {
    margin-top: 50px;
    @include size(100%, 100px);
    text-align: center;
  }
}
